<aside> 
	<div>
		<h3>Our Services</h3>
		<ul>
			<li>
				<a href="">
					<figure>
						<img src="./img/pic_1.png" alt="">
						<figcaption><span>Schedule Services</span></figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<img src="./img/pic_2.png" alt="">
						<figcaption><span>Preventive Maintence</span></figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<img src="./img/pic_3.png" alt="">
						<figcaption><span>Tire & Wheel Services</span></figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="">
					<figure>
						<img src="./img/pic_4.png" alt="">
						<figcaption><span>Tire & Wheel Services</span></figcaption>
					</figure>
				</a>
			</li>
		</ul>

	</div>
</aside>