<footer>
    <div class="links_line">
        <div class="links">
            <ul>
                <li class="links_item">
                    <a href="#">Socials</a>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Flickr</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Vimeo</a></li>
                    </ul>
                </li>
                <li class="links_item">
                    <a href="#">Links</a>
                    <ul>
                        <li><a href="#">How to Write a Blog</a></li>
                        <li><a href="#">Create a Blog in 4 Steps</a></li>
                        <li><a href="#">15 Tips to Increase Traffic</a></li>
                        <li><a href="#">20 Blog Post Ideas</a></li>
                    </ul>
                </li>
                <li class="links_item">
                    <a href="#">Blogroll</a>
                    <ul>
                        <li><a href="#">Blogs Blog</a></li>
                        <li><a href="#">Roll Up Roll Up</a></li>
                        <li><a href="#">Blog Free</a></li>
                        <li><a href="#">Wordpress Blog</a></li>
                    </ul>
                </li>
                <li class="links_item last_item">
                    <a href="#">About us</a>
                    <ul>
                        <li><a href="#">Agriculture</a></li>
                        <li><a href="#">Harvest</a></li>
                        <li><a href="#">Company news</a></li>
                        <li><a href="#">Investor relations</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="contacts_line">
        <div class="contacts">
            <ul>
                <li><a href="#">BuildHomeLtd.  Street Name 123   23 45 Cityname</a></li>
                <li><a href="#">+123 900 123 456</a></li>
                <li><a href="#">info@buildhome.web</a></li>
            </ul>
            <div class="copyright">
                <a href="#">&copy; 2014 Build Home</a>
            </div>
        </div>
    </div>
</footer>